nav {
width: 100vw;
height: 20vh;
margin-top: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
font-family: Arial, Helvetica, sans-serif;
}

nav img {
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
    height: 70%;
}

#menuitems {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-self: center; 
}

#menuitems a {
    text-decoration: none;
    color: black;
    font-size:x-large;
    letter-spacing: 0.05em;
    cursor: pointer;
}
  
#menuicons ul {
    width: 40%;
    height: 70%;
    list-style: none;
    letter-spacing: 0.05em;
    display: flex;
    flex-direction: row;
    font-size:x-large;
    margin-right: 30px;
    align-items: center;
}

#menuicons li {
    margin-right: 30px;
    cursor: pointer;
}
