nav {
width: 100vw;
height: 20vh;
margin-top: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
font-family: Arial, Helvetica, sans-serif;
}

nav img {
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
    height: 70%;
}

#menuitems {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-self: center; 
}

#menuitems a {
    text-decoration: none;
    color: black;
    font-size:x-large;
    letter-spacing: 0.05em;
    cursor: pointer;
}
  
#menuicons {
    display: flex;
    flex-direction: row;
    font-size:x-large;
    align-self: center;
    margin-bottom: 55px;
}

#menuicons a {
    margin-right: 30px;
    color: black;
    cursor: pointer;
}
