.card-container {
    height: 30%;
    width: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 

.desc {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.desc h3 {
   margin-bottom: 5px;
   font-size:larger;
   font-weight:normal;
   text-transform:capitalize;
}

#shopbuttons button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    background-color: white;
    color: #0400DB;
    border-color: #0400DB;
}

#shopbuttons button:hover {
    background-color: #0400DB;
    color: white;
}